@import '../../../../@core/scss/base/bootstrap-extended/variables';
$red: #EA5455;

.haa-modules{

  div div .top-custom-btn{
    a{
      color: $primary;
    }
  }

  div h4{
    color: #5E5873;
    font-size: 17px !important;
  }

  .react-dataTable{
    margin-top: 2rem;
  }

  .module-custom-btn-clear {
    height: 30px !important;
    margin-top: 3rem !important;
    padding-top: 8px !important;
    border: none !important;
    box-shadow: none !important;
  }

  .module-custom-btn {
    height: 30px !important;
    margin-top: 3rem !important;
    padding-top: 8px !important;
  }
}
