.signIn-div {
  .btn-separate-login {
    background-color: #fff;
    padding: 20px !important;
    border-radius: 6px;
    margin-top: 30px;

    div {
      padding: 0 !important;
    }

    .btn-img {
      width: 250px;
      margin-bottom: 20px;
    }

    .br-1 {
      border-right: 1px solid #D8D6DE;
      padding-right: 20px !important;
      margin-right: 20px !important;
    }
  }
}