.disabled {
  background-color: #EFEFEF !important;
  cursor: not-allowed !important;
}

.create-batch-modal{
  .copy-div{
    //margin-bottom: 1rem;

    .btn-div{
      padding-top: 0.3rem;
    }
  }
}
