$red: #EA5455;
.haa-students-marking{

  div h4{
    color: #5E5873;
    font-size: 17px !important;
  }

  .react-dataTable{

    margin-top: 2rem;

    .rdt_TableRow {
      #cell-1-undefined{
        div {
          color: #4F4F4F;
          font-weight: 400;
        }
      }

      div .edit-icon{
        cursor: pointer;
      }
    }

    div div {

      .hr{
        border-bottom: 1px solid #E9ECEF;
      }

      .pagination-row{
        .pagination-left{
          padding: 1rem 0 0 2rem !important;
        }
      }
    }
  }
}
