.auth-wrapper{
  background-image: url("../../assets/images/pages/images.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .login-div{
    padding: 8rem 20rem;

    .login-div_{
      padding:0 5rem;
      border-radius: 10px;
      background: #00000029;
    }
  }
 }